<div class="container col-xs-12 text-center streams">
  <h1>List of Streams</h1>

  <%= link_to new_medium_path, class: "btn btn-default btn-success btn-lg" do %>
    <%= icon 'plus-circle' %>
    New Film/Show
  <% end %>

  <hr>

  <table class="table table-striped table-bordered text-left">
    <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    </tr>

    <% @streams.each do |s| %>
      <tr>
        <td><%= link_to s.title, s %></td>
        <td><%= s.category %></td>
        <td><%= s.description %></td>
        <% if user_is_at_least_admin? %>
          <td><%= link_to 'Edit', edit_stream_path(s) %></td>
          <td><%= link_to 'Delete', stream_path(s),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
