<h1>List of Streams</h1>

<hr>

<h2>Films</h2>
<% films = @media.select{ |m| m.type = 'film' } %>
<% if films.any? %>
  <% films.each do |s| %>
    Stream! <%= s.title %>
  <% end %>
<% else %>
  There aren't any films yet.
<% end %>

<hr>

<h2>Shows</h2>
<% shows = @media.select{ |m| m.type = 'show' } %>
<% if shows.any? %>
  <% shows.each do |s| %>
    Stream! <%= s.title %>
  <% end %>
<% else %>
  There aren't any shows yet.
<% end %>

<hr>

<h2>Orphaned Streams</h2>
<% if @orphans.any? %>
  <% @orphans.each do |s| %>
    Stream! <%= s.title %>
  <% end %>
<% else %>
  Oh good, there are no streams without associated media.
<% end %>

<hr>

<h2>Create a new Film or Show</h2>
<div class="row">
  <%= form_for :medium do |m| %>
    <div class="form-group col-sm-10 col-md-9">
      <%= m.label :title %>
      <%= m.text_field :title, class: 'form-control', placeholder: "Title" %>
    </div>
    <div class="form-group col-sm-2 col-md-3">
      <%= m.label :type %><br>
      <% types = Medium.types.keys.map { |t| [t.titleize, t] } %>
      <%= m.select :type, options_for_select(types), {}, { class: 'form-control' } %>
    </div>
    <div class="form-group col-xs-6">
      <%= m.submit "Create", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
