<h1>List of Streams</h1>

<hr>

<% if @media.any? %>
  <table class="table table-striped">
  <% @media.each do |m| %>
    <tr>
      <td><%= link_to m.title, medium_path(m) %></td>
      <td>
        <%= link_to '#', class: "btn btn-xs btn-warning" do %>
          <%= icon 'refresh' %>
          Scan for streams
        <% end %>
      </td>
      <td class="text-right">
        <%= link_to medium_path(m),
          class: 'btn btn-xs btn-danger',
          method: :delete,
          data: { confirm: 'Are you sure you want to delete the ' + m.category  + ' ' + m.title.titleize + '?' } do %>
          <%= icon 'trash' %>
          delete <%= m.category %>
        <% end %>
      </td>
    </tr>
    <% streams = m.streams %>
    <% if streams.any? %>
      <% streams.each do |s| %>
        <tr>
          <td><%= link_to 'edit stream', edit_stream_path(s),
                  class: 'btn btn-xs btn-default' %></td>
          <td><%= s.title %></td>
          <td class="text-right">
            <%= link_to stream_path(s),
                  class: 'btn btn-xs btn-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete the stream ' + s.title + '?' } do %>
              <%= icon 'trash' %>
              delete stream
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
      <td></td>
      <td colspan="2">Hmmm. No streams belonging to <%= m.title %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
<% else %>
  No media yet.
<% end %>

<hr>

<h2>Orphaned Streams</h2>
<% if @orphans.any? %>
  <table class="table table-striped">
    <% @orphans.each do |s| %>
      <tr>
        <td>
          <%= s.title %>
        </td>
        <td class="text-right">
          <%= link_to stream_path(s),
                  class: 'btn btn-xs btn-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete the orphaned stream?' } do %>
              <%= icon 'trash' %>
              delete stream
          <% end %>
        </td>
      <tr>
    <% end %>
  </table>
<% else %>
  Oh good, there are no streams without associated media.
<% end %>

<hr>

<%= render 'media/new_medium' %>
