<h1>Film and TV</h1>

<hr>

<div class="jumbotron">
  <h1><span class="label label-danger">❥</span> Happy Valentine's Day!</h1>
  <p>Oh, and we've also fixed tv shows, and formatting issues on smaller screens. You're welcome.</p>
  </p>
</div>

<% if @media.any? %>
  <div class="container">
    <div class="row">
      <% @media.each do |m| %>
        <%= render "media_tile", m: m %>
        <div class="clearfix visible-xs-block"></div>
      <% end %>
    </div>
  </div>
<% else %>
  <p>
    Hmm.. Nothing here yet..
  </p>
<% end %>

<hr>

<div class="container">
  <div class="row">
    <p>
      Are your favorite things missing? Make a request!
    </p>
  </div>
  <div class="row">
    <%= form_for @request do |r| %>
      <div class="col-sm-6">
        <%= r.label :request, class: "sr-only" %>
        <%= r.text_field :request, class: "form-control", placeholder: "Your request. IMDB links are best!" %>
      </div>
      <br class="visible-xs">
      <div class="col-sm-6">
        <%= r.submit "Request!", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>

<% if user_is_at_least_admin? %>
  <hr>

  <%= render 'media/new_medium' %>
<% end %>
