
<div class="row">
<div class="col-sm-2">
  <img src="/<%= @medium.image_url %>" class="poster_md" alt="cover art"></img>
</div>
<div class="col-sm-10">
  <h1><%= @medium.title %></h1>

  <%= @medium.category.titleize %>

  <span ng-repeat="tag in tags">
    <% if @stream.imdb_link %>
      <%= link_to @stream.imdb_link, class: "btn btn-default btn-xs" do %>
        <%= icon 'star-o' %> IMDB
     <% end %>
    <% end %>
  </span>
</div>
</div>
<hr>

<div class="row">
<div class="col-xs-12">
  <div class="embed-responsive embed-responsive-16by9">
    <video id="<%= @stream.id %>"
           class="video-js embed-responsive-item"
           controls preload="auto"
           width="100%" height="auto"
           poster="/<%= @stream.image_url %>"
           >
      <%= [*(JSON.parse @stream.video_urls)].each do |video_url| %>
        <source src="/<%= video_url %>" type='video/mp4' >
      <% end %>

      <%= [*(JSON.parse @stream.subtitle_urls)].each do |subtitle_url| %>
        <% sub_label = File.basename subtitle_url, '.srt' %>
        <track kind="subtitles" src="/<%= subtitle_url %>" label="<%= sub_label %>">
      <% end %>

      <p class="vjs-no-js">
        Your browser does not seem to like us. We require javascript and <a href="http://videojs.com/html5-video-support" target="_blank">HTML5 video</a>
      </p>
    </video>
  </div>
</div>

<div class="col-xs-12">
  <p>
    <% if @stream.description %>
      <%= @stream.description %>
    <% else %>
      There are no words to describe this...
    <% end %>
  </p>
  <p ng-repeat="tag in tags">
    <span class="label label-default">EN</span>
  </p>

  <h3>Episodes:</h3>
  <% @streams.each do |s| %>
    <%= link_to s.title, medium_path(@medium, stream: s.id) %><br>
  <% end %>
</div>
</div>

<hr>

<div class="col-xs-12">
  <%= link_to 'Back', media_path %>
</div>
