
<div class="row">
<div class="col-sm-2">
  <img src="/<%= @medium.image_url %>" class="poster_md" alt="cover art"></img>
</div>
<div class="col-sm-10">
  <h1><%= @medium.title %></h1>

  <%= @medium.category.titleize %>, 2004, October 1

  <span ng-repeat="tag in tags">
    <%= link_to 'http://www.imdb.com/title/tt0375912', class: "btn btn-default btn-xs" do %>
      <%= icon 'star-o' %> IMDB
    <% end %>
  </span>
</div>
</div>
<hr>

<div class="row">
<div class="col-sm-6">
  <% @medium.streams.each do |s| %>
    <div class="embed-responsive embed-responsive-16by9">
      <video id="<%= s.id %>"
             class="video-js embed-responsive-item"
             controls preload="auto"
             width="100%" height="auto"
             poster="/<%= @medium.image_url %>"
             >
        <%= [*(JSON.parse s.video_urls)].each do |video_url| %>
          <source src="/<%= video_url %>" type='video/mp4' >
        <% end %>

        <%= [*(JSON.parse s.subtitle_urls)].each do |subtitle_url| %>
          <% sub_label = File.basename subtitle_url, '.srt' %>
          <track kind="subtitles" src="/<%= subtitle_url %>" label="<%= sub_label %>">
        <% end %>

        <p class="vjs-no-js">
          Your browser does not seem to like us. We require javascript and <a href="http://videojs.com/html5-video-support" target="_blank">HTML5 video</a>
        </p>
      </video>
    </div>
    <br>
  <% end %>
</div>

<div class="col-sm-6">
  <p>
    A successful cocaine dealer gets two tough assignments from his boss on the eve of his planned early retirement.
  </p>
  <p ng-repeat="tag in tags">
    <span class="label label-default">EN</span>
  </p>
</div>
</div>

<hr>

<div class="col-xs-12">
  <%= link_to 'Back', media_path %>
</div>
