
<% if not user_signed_in? %>
  <div class="background"></div>

  <div id="sign_in_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Who're you?</h1>
        </div>
        <div class="modal-body">
          <p>
          We don't want your secrets. There are no passwords here.
          </p>
          <p>
          Instead, we use <a target="_blank" href="http://oauth.net/">fancypants technology</a> to securely check if you are are on our VIP list. Which identity provider will vouch for you?
          </p>
          <p class="text-center dropdown">
            <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "big_icon" do %>
              <%= icon('google-plus-square')%>
            <% end %>
            <%= link_to user_omniauth_authorize_path(:facebook), class: "big_icon" do %>
              <%= icon('facebook-square') %>
            <% end %>
            <%= link_to user_omniauth_authorize_path(:twitter), class: "big_icon" do %>
              <%= icon('twitter-square') %>
            <% end %>
            <%= link_to user_omniauth_authorize_path(:reddit), class: "big_icon" do %>
              <%= icon('reddit-square') %>
            <% end %>
            <%= link_to user_omniauth_authorize_path(:github), class: "big_icon" do %>
              <%= icon('github-square') %>
            <% end %>
          </p>
          <% if Rails.env.development? %>
          <hr>
          <p class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Oh snap! We're in development mode, which means you can log in using these amazingly sketch additional options:
            <br>
            <%= link_to "Sign in as Allie the Admin (dev only)",
                development_auth_path(provider: "development",
                                      uid: "1",
                                      first_name: "Allie",
                                      image: "http://www.alleycat.org/view.image?Id=4112",
                                      role: "admin",
                                      email: "none@none.com")%>
            <br>
            <%= link_to "Sign in as Ursula the User (dev only)",
                development_auth_path(provider: "development",
                                      uid: "2",
                                      first_name: "Ursula",
                                      image: "http://www.supercoolpets.com/pictures/scratchntv.jpg",
                                      role: "user",
                                      email: "none@none.com")%>
            <br>
            <%= link_to "Sign in as Garry the Guest (dev only)",
                development_auth_path(provider: "development",
                                      uid: "3",
                                      first_name: "Garry",
                                      image: "http://media2.popsugar-assets.com/files/2013/11/07/163/n/1922243/90ff6fee7548fa01_thumb_temp323269331383342390.xxxlarge/i/Silly-Cat-GIFs.jpg",
                                      email: "none@none.com")%>
          </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(setTimeout(function(){
      $("#sign_in_modal").modal({
        backdrop: 'static'
      });
    }, 2000));
  </script>
<% else %>
  <h1>Thanks, but you aren't on the list.</h1>
  <h3>We'll let you know when you are.</h3>
<% end %>
